@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Icons';
  src: url('/assets/fonts/Icons.woff2') format('woff2');
}

[data-icon],
[data-icon-after] {
  &::after,
  &::before {
    line-height: 1;
    direction: ltr;
    font-weight: 300;
    user-select: none;
    word-wrap: normal;
    font-style: normal;
    white-space: nowrap;
    text-transform: none;
    display: inline-block;
    letter-spacing: normal;
    color: var(--iconColor);
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 20px/1 'Icons';
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
  }
}

[data-icon] {
  &::before {
    content: attr(data-icon);
  }
}

[data-icon-after] {
  &::after {
    color: var(--iconColor);
    content: attr(data-icon-after);
  }
}
